.videoContainer { 
    margin: 0px;
    padding: 0px;
    overflow: hidden
}

.frame {
    overflow: hidden;
    min-height:300px;
    width:100%;
    border: 0px;
}

.menuLinks {
    cursor: pointer;
}
